snippet pcode "Python Code snippets for md " b
~~~python3
${1:print("Some code")}
~~~
endsnippet


snippet code "Some code" b
~~~
${1:Here some code")}
~~~
endsnippet


snippet table "A table in markdown" b
| Attempt | #1  | #2  |
| ------- | --- | --- |
| Seconds | 301 | 283 |

endsnippet
